<!-- shop.ejs
    Assignment 3: Shop (Server)

    Revision History 
        Yi Phyo Hong, 2020.03.30: Created
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Teko&display=swap" rel="stylesheet">
    <title>Assignment 1</title>
    <script src="js/shop.js"></script>
</head>
<body onload="onLoad();">
    <header>
        <p class="title">Computer Shop</p>
    </header>

    <main>
        <form onsubmit="return processForm();" action="" method="post">
            <label for="name">Name*</label>
            <input type="text" id="name" name="name">
            <label for="email">Email*</label>
            <input type="text" id="email" name="email">
            <label for="phone">Phone*</label>
            <input type="text" id="phone" name="phone" placeholder="xxx-xxx-xxxx">
            <label for="address">Address*</label>
            <input type="text" id="address" name="address">
            <label for="city">city*</label>
            <input type="text" id="city" name="city">
            <label for="postCode">Post Code*</label>
            <input type="text" id="postCode" name="postCode" placeholder="X9X 9X9">
            <label for="province">Province*</label>
            <select name="province" id="province">
            </select>
            <label for="computer">Computer</label>
            <input type="text" id="computer" name="computer" placeholder="Enter a number">
            <label for="monitor">Monitor</label>
            <input type="text" id="monitor" name="monitor" placeholder="Enter a number">
            <label for="printer">Printer</label>
            <input type="text" id="printer" name="printer" placeholder="Enter a number">
            <label for="deliveryTime">Delivery Time</label>
            <select name="deliveryTime" id="deliveryTime">
            </select>
            <div class="clear"></div>
            <input type="submit" name="submit" value="Place Order">
            <p id="message"></p>
            <div class="clear"></div>
        </form>
            <div id="invoice">
                <%
                if (typeof(total) != 'undefined') {
                %>
                    <p id="invoiceTitle">Computer Shop's Invoice</p>
                    <p id="item">Name</p><p id="colon">:</p><p id="price"><%= name %><p>
                    <p id="item">Email</p><p id="colon">:</p><p id="price"><%= email %><p>
                    <p id="item">Phone</p><p id="colon">:</p><p id="price"><%= phone %><p> 

                    <p id="item">Address</p><p id="colon">:</p><p id="price"><%= address %>,<p>
                    <p id="price" class="clear"><%= city %>,<p>
                    <p id="price" class="clear"><%= province %>, <%= postCode %><p>

                    <p id="item" class="clear"><%= computerTotal/10 %> Computer @ $10.00</p><p id="colon">:</p><p id="price">$<%= 10*computer %><p>

                    <p id="item"><%= monitorTotal/20 %> Monitor @ $20.00</p><p id="colon">:</p><p id="price">$<%= 20*monitor %><p>

                    <p id="item"><%= printerTotal/30 %> Printer @ $30.00</p><p id="colon">:</p><p id="price">$<%= 30*printer %><p>

                    <p id="item">Shipping Charges</p><p id="colon">:</p><p id="price">$<%= shippingCharges %><p>  
                    
                    <p id="item">Sub Total</p><p id="colon">:</p><p id="price">$<%= subTotal %><p> 

                    <p id="item">Taxes @ <%= taxPecentage %>%</p><p id="colon">:</p><p id="price">$<%= taxes.toFixed(2) %><p> 

                    <p id="item">Total</p><p id="colon">:</p><p id="price">$<%= total.toFixed(2) %><p> 
                <%
                }
                %>
            </div>
    </main>

    <footer>
        <p class="copyright clear">
            &copy; Computer Shop 2020
        </p>
    </footer>    
</body>
</html>